/* ------------------------ Vertical Navbar -------------------------- */

.nav-side-menu {
  z-index: 2;
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #2e353d;
  position: fixed;
  top: 0px;
  width: 0px;
  height: 100%;
  color: #e1ffff;
  transition: 0.5s;
}

.fa-caret-down{
  float: right;
  padding-top: 10px;
}

.nav-side-menu .brand {
  background-color: #0772E4;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 16px;
}

.nav-side-menu .toggle-btn {
  display: none;
}

.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
}

.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}

.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
}

.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d;
}

.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #d19b3d;
}

.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
}

.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #020203;
}

.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f111";
  color: #fff;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}

.nav-side-menu li {
  padding-left: 0px;
  border-left: 3px solid #2e353d;
  border-bottom: 1px solid #23282e;
}

.nav-side-menu li a {
  text-decoration: none;
  color: #e1ffff;
}

.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}

.nav-side-menu li:hover {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

/* ------------------- Content Menu ----------------------- */

.content-wrapper{
  position: absolute;
  width: 100%;
  transition: 0.5s;
}

.container-fluid{
  padding: 0;
  margin: 0;
}

nav{
  width: 100%;
  background-color: #3996F9;
  padding: 10px 20px;
  line-height: 30px;
}

nav .fa-bars{
  color: #fff;
}

.below-toggle-content{
  padding: 15px;
}

.below-toggle-content .col-md-3{
  flex: 0 0 24%;
  max-width: 24%;
}

.top-part p{ color: #777; font-weight: 500; }

.total-products, .total-orders, .total-users, .total-stores{
  background-color: #47D4FF;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.total-orders{
  background-color: #54FF3D;
}

.total-users{
  background-color: #FFDD33;
}

.total-stores{
  background-color: #FF4229;
}

.total-products .fa-shopping-cart, 
.total-orders .fa-chart-bar,
.total-users .fa-users,
.total-stores .fa-store{
  color: #fff;
  font-size: 50px;
  padding: 30px 20px 0px 0px;
  transition: 0.4s;
}

.total-products:hover .fa-shopping-cart,
.total-orders:hover .fa-chart-bar,
.total-users:hover .fa-users,
.total-stores:hover .fa-store{
  transform: scale(1.08);
}

/* -------------------- Toggle Button --------------------- */

.wrapper.menuDisplayed .nav-side-menu{
  width: 300px;
}

.wrapper.menuDisplayed .content-wrapper{
  padding-left: 300px;
}

/* ---------------------------- Media Queries -------------------------------- */

@media screen and (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100% !important;
    margin-bottom: 10px;
  }

  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }

  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }

  .content-wrapper{
    padding-left: 15px !important;
  }

  nav{
    display: none;
  }

  .below-toggle-content .col-md-3{
      flex: 0 0 100% !important;
      max-width: 100% !important;
      margin-bottom: 10px;
  }

  .below-toggle-content .col-md-8, .below-toggle-content .col-md-4{
      flex: 0 0 50% !important;
      max-width: 50% !important;
  } 

}

@media screen and (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}

@media screen and (max-width: 984px) {
    .below-toggle-content .col-md-3{
      flex: 0 0 49%;
      max-width: 49%;
      margin-bottom: 10px;
  }
}

body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}